<.header>
  Violation report <%= @violation_report.id %>
  <:subtitle>This is a violation_report record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/violation_reports"}>
      <.button>Back to reports</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item :for={attr <- @attributes} title={attr}>
    <%= @violation_report |> Map.get(attr) |> inspect %>
  </:item>
</.list>

<.back navigate={~p"/violation_reports"}>Back to violation_reports</.back>
